.FlipIn{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}
.FlipIn:hover img{
    z-index:0;

}

.FlipIn .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    background-color: black;
    opacity: 0;
  }
  
  .FlipIn:hover .overlay {
    transform: rotateY(0deg);
    z-index:1;
    opacity: 0.7;
  }
  
  .FlipIn .flip-card-front, .FlipIn .overlay{
    /* position: absolute; */
    
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 
  }
  
 