.zoom-in-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .zoom-in-container img{
    transform-origin: 50% 50%;
    transition: all 1s;
  
    
  }
  
  .zoom-in-container:hover img{
    
    transform: scale(1.5);
  }
  